In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2022-09-21 19:02:42,41.3712,-73.4140,79.90,61,3,5.01
1,1,Poum,NC,2022-09-21 19:02:42,-20.2333,164.0167,75.00,74,4,4.45
2,2,Bredasdorp,ZA,2022-09-21 19:02:42,-34.5322,20.0403,52.79,87,0,0.63
3,3,Ribeira Grande,PT,2022-09-21 19:02:43,38.5167,-28.7000,77.40,83,40,9.22
4,4,Jamestown,US,2022-09-21 19:02:43,42.0970,-79.2353,73.04,78,100,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2022-09-21 19:02:42,41.3712,-73.4140,79.90,61,3,5.01
1,1,Poum,NC,2022-09-21 19:02:42,-20.2333,164.0167,75.00,74,4,4.45
3,3,Ribeira Grande,PT,2022-09-21 19:02:43,38.5167,-28.7000,77.40,83,40,9.22
8,8,Tumaco,CO,2022-09-21 19:02:44,1.7986,-78.8156,79.52,75,51,8.46
9,9,Kahului,US,2022-09-21 19:02:45,20.8947,-156.4700,82.85,80,13,10.00
10,10,Albany,US,2022-09-21 19:01:02,42.6001,-73.9662,77.23,67,10,4.34
16,16,Lorengau,PG,2022-09-21 19:02:47,-2.0226,147.2712,78.21,81,93,4.79
22,22,Oistins,BB,2022-09-21 19:02:50,13.0667,-59.5333,81.79,77,100,20.20
26,26,Kapaa,US,2022-09-21 19:02:52,22.0752,-159.3190,82.38,76,43,5.01
28,28,San Francisco,US,2022-09-21 18:59:55,37.7749,-122.4194,75.02,78,7,8.99

In [12]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Bethel      US     79.90  41.3712  -73.4140
1             Poum      NC     75.00 -20.2333  164.0167
3   Ribeira Grande      PT     77.40  38.5167  -28.7000
8           Tumaco      CO     79.52   1.7986  -78.8156
9          Kahului      US     82.85  20.8947 -156.4700
10          Albany      US     77.23  42.6001  -73.9662
16        Lorengau      PG     78.21  -2.0226  147.2712
22         Oistins      BB     81.79  13.0667  -59.5333
26           Kapaa      US     82.38  22.0752 -159.3190
28   San Francisco      US     75.02  37.7749 -122.4194

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except(IndexError):
        print("hotel not found... skipping.")

hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bethel,US,79.90,41.3712,-73.4140,Courtyard by Marriott Danbury
1,Poum,NC,75.00,-20.2333,164.0167,
3,Ribeira Grande,PT,77.40,38.5167,-28.7000,Quinta da Meia Eira
8,Tumaco,CO,79.52,1.7986,-78.8156,Unión Victoria
9,Kahului,US,82.85,20.8947,-156.4700,Maui Seaside Hotel
10,Albany,US,77.23,42.6001,-73.9662,
16,Lorengau,PG,78.21,-2.0226,147.2712,Lorengau Harbourside Hotel
22,Oistins,BB,81.79,13.0667,-59.5333,Butterfly Beach Hotel
26,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,San Francisco,US,75.02,37.7749,-122.4194,Edwardian Hotel

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))